In [1]:
import random
import pandas as pd

# full student roster
# students = ['Aditya','Alexandra','Aya','Badr','Camila','Enerel','Gene','Haris','Jacob','James','Linxi','Louis','Lydia','Maria Camila','Maria S','Mark','Michael L','Mike W','Michelle','Mina','Mudit','Nicolas','Sania','Sarah','Sayed','Stephanie','Steven','Tulgaa']

students = ['Aditya','Alexandra','Aya','Badr','Camila','Enerel','Gene','Haris','Jacob','James','Linxi','Louis','Lydia','Maria Camila','Maria S','Mark','Michael L','Mike W','Michelle','Mina','Mudit','Nicolas','Sania','Sarah','Sayed','Stephanie','Steven','Tulgaa']

assigned = [False for s in students]

group_size = 2

group_count = int(len(students)/group_size) + 1 
# need to fix to handle uneven groups
# the +1 is a workaround

group = {(i + 1):[] for i in range(group_count)}

while False in assigned:
    index = 0

    for s in students:

        i = random.randint(1,group_count)

        if assigned[index] == False:
            
            if(len(group[i]) < group_size):
                group[i].append(s)
                assigned[index] = True

        index = index + 1
    
group_df = pd.DataFrame(dict([(key,pd.Series(value)) for key,value in group.items()]))
group_df = pd.DataFrame.transpose(group_df)

group_df

            0          1
1   Michael L  Stephanie
2     Maria S       Mark
3        Gene     Tulgaa
4       Mudit      James
5      Aditya  Alexandra
6      Camila       Mina
7     Nicolas   Michelle
8        Badr      Jacob
9      Mike W      Sania
10      Linxi      Sayed
11      Haris      Sarah
12        Aya      Lydia
13     Enerel      Louis
14     Steven        NaN