In [2]:
import random
import pandas as pd

# Full Mon/Wed student roster
#students = ['Aaron','Alex','Brett','Chandra','Edwin','Ericka','Hannah','Hussain','Hythem','Jack','Janice','Johar','John C.','John V.','Justin','Katarzyna','Keisha','Manuel','Mario','Michelle','Morgan','Nedal','Qing','Taoule','Thomas B.','Will','Zachary S.']

students = ['Aaron','Alex','Brett','Chandra','Edwin','Ericka','Hannah','Hussain','Janice','Johar','John C.','Justin','Katarzyna','Keisha','Manuel','Mario','Michelle','Morgan','Nedal','Qing','Taoule','Thomas B.','Will','Zachary S.']


# Full Tue/Thurs student roster
#students = ['Andre','Brittany','David','Demetria','Desiree','Elvis','Fangyi','Gayathri','Jean','Jethro','Jorge','Marvin','Nicholas G.','Nikolas M.','Philip','Rina','Robel','Stephen','Steven','Sumita','Tara','Thomas C.','William F.','William J.','Xiaobing','Zachary M.']

# Full Combined student roster
    # students = ['Aaron','Alex','Brett','Chandra','Ericka','Hannah','Hussain','Hythem','Jack','Janice','Johar','John C.','John V.','Justin','Katarzyna','Keisha','Manuel','Mario','Michelle','Morgan','Nedal','Qing','Taoule','Thomas B.','Will','Zachary S.','Andre','Brittany','David','Demetria','Desiree',Edwin','Elvis','Fangyi','Gayatri','Jean','Jethro','Jorge','Marvin','Nicholas G.','Nikolas M.','Philip','Rina','Robel','Stephen','Steven','Sumita','Tara','Thomas C.','William F.','William J.','Xiaobing','Zachary M.']

assigned = [False for s in students]

group_size = 2

group_count = int(len(students)/group_size) + 1 
# need to fix to handle uneven groups
# the +1 is a workaround

group = {(i + 1):[] for i in range(group_count)}

while False in assigned:
    index = 0

    for s in students:

        i = random.randint(1,group_count)

        if assigned[index] == False:
            
            if(len(group[i]) < group_size):
                group[i].append(s)
                assigned[index] = True

        index = index + 1
    
group_df = pd.DataFrame(dict([(key,pd.Series(value)) for key,value in group.items()]))
group_df = pd.DataFrame.transpose(group_df)

group_df

            0           1
1      Hannah   Thomas B.
2      Ericka     John C.
3       Brett       Johar
4       Edwin      Keisha
5      Taoule         NaN
6      Manuel         NaN
7     Hussain  Zachary S.
8    Michelle      Justin
9      Janice       Nedal
10      Mario      Morgan
11      Aaron        Alex
12  Katarzyna        Will
13    Chandra        Qing