In [52]:
# Import Dependencies
import pandas as pd

In [53]:
raw_data = {
    'Name': ["Brett", "Elvis", "Hannah", "Demmy", "Slacker", "Homer"], 
    'Test Score': [90, 80, 83, 88, 60, 59.8]}
df = pd.DataFrame(raw_data)
df

      Name  Test Score
0    Brett        90.0
1    Elvis        80.0
2   Hannah        83.0
3    Demmy        88.0
4  Slacker        60.0
5    Homer        59.8

In [54]:
# Create the bins in which Data will be held
# Bins are 0, 60, 70, 80, 90, 100.   
bins = [0, 60, 70, 80, 90, 100]

# Create the names for the four bins
group_names = ["F", "D", "C", "B", "A"]

In [55]:
df["Grade"] = pd.cut(df["Test Score"], bins, labels=group_names, right=False)
df

      Name  Test Score Grade
0    Brett        90.0     A
1    Elvis        80.0     B
2   Hannah        83.0     B
3    Demmy        88.0     B
4  Slacker        60.0     D
5    Homer        59.8     F

In [56]:
# Creating a group based off of the bins
df = df.groupby("Grade")

In [57]:
df["Grade"].count()

Grade
F    1
D    1
C    0
B    3
A    1
Name: Grade, dtype: int64