In [1]:
# Dependencies
import tweepy
import json
import pandas as pd
from config import consumer_key, consumer_secret, access_token, access_token_secret

In [2]:
# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [9]:
# Import CSV file into Data Frame
popular_tweeters = pd.read_csv("../Resources/PopularAccounts.csv", dtype=str)

popular_tweeters.head(20)

      Screen Name Real Name Tweets Followers Following Favorites Count
0    IAmDartanion       NaN    NaN       NaN       NaN             NaN
1       katyperry       NaN    NaN       NaN       NaN             NaN
2    justinbieber       NaN    NaN       NaN       NaN             NaN
3     BarackObama       NaN    NaN       NaN       NaN             NaN
4   Taylorswift13       NaN    NaN       NaN       NaN             NaN
5         rihanna       NaN    NaN       NaN       NaN             NaN
6         youtube       NaN    NaN       NaN       NaN             NaN
7    theellenshow       NaN    NaN       NaN       NaN             NaN
8        ladygaga       NaN    NaN       NaN       NaN             NaN
9         twitter       NaN    NaN       NaN       NaN             NaN
10    jtimberlake       NaN    NaN       NaN       NaN             NaN
11  britneyspears       NaN    NaN       NaN       NaN             NaN
12      cristiano       NaN    NaN       NaN       NaN             NaN
13  kimkardashian       NaN    NaN       NaN       NaN             NaN
14    selenagomez       NaN    NaN       NaN       NaN             NaN
15         cnnbrk       NaN    NaN       NaN       NaN             NaN
16    jimmyfallon       NaN    NaN       NaN       NaN             NaN
17   arianagrande       NaN    NaN       NaN       NaN             NaN
18        shakira       NaN    NaN       NaN       NaN             NaN
19       ddlovato       NaN    NaN       NaN       NaN             NaN

In [10]:
# Iterate through DataFrame
for index, row in popular_tweeters.iterrows():
    try:
        # Grab the username
        target_user = row["Screen Name"]
        # print(target_user)

        # Use the username with the Twitter API get_user
        user_account = api.get_user(target_user)
        user_real_name = user_account["name"]

        # Get the specific column data
        user_tweets = user_account["statuses_count"]
        user_followers = user_account["followers_count"]
        user_following = user_account["friends_count"]
        user_favorites = user_account["favourites_count"]

        # Replace the row information for each
        popular_tweeters.at[index, "Real Name"] = user_real_name
        popular_tweeters.at[index, "Tweets"] = user_tweets
        popular_tweeters.at[index, "Followers"] = user_followers
        popular_tweeters.at[index, "Following"] = user_following
        popular_tweeters.at[index, "Favorites Count"] = user_favorites

    except tweepy.TweepError as e:
        print(f"exception for {row['Screen Name']}: {e}")
        popular_tweeters.drop(labels=index,inplace=True)

exception for ddlovato: [{'code': 50, 'message': 'User not found.'}]

In [12]:
popular_tweeters.head(20)

,Screen Name,Real Name,Tweets,Followers,Following,Favorites Count
0,IAmDartanion,Dartanion Williams,31,211,375,134
1,katyperry,KATY PERRY,10117,108140968,221,6818
2,justinbieber,Justin Bieber,30453,107104120,297936,3394
3,BarackObama,Barack Obama,15691,109677610,611368,11
4,Taylorswift13,Taylor Swift,330,84917716,0,633
5,rihanna,Rihanna,10430,94086958,1078,1020
6,youtube,YouTube,23813,72070565,1045,2570
7,theellenshow,Ellen DeGeneres,20375,78841184,27778,1820
8,ladygaga,Lady Gaga,8996,79884480,124302,2030
9,twitter,Twitter,12130,56713237,103,6346
10,jtimberlake,Justin Timberlake,4114,65093418,291,472
11,britneyspears,Britney Spears,5627,56286071,380643,2583
12,cristiano,Cristiano Ronaldo,3472,80622616,52,2
13,kimkardashian,Kim Kardashian West,30492,62164340,150,119
14,selenagomez,Selena Gomez,4397,58329727,1171,183
15,cnnbrk,CNN Breaking News,68049,55991675,121,22
16,jimmyfallon,jimmy fallon,12188,51455225,9167,1353
17,arianagrande,Ariana Grande,44861,66797469,61255,40448
18,shakira,Shakira,6354,51618750,210,1274
20,jlo,Jennifer Lopez,15056,44114555,1690,8087

In [13]:
# Export the new CSV
popular_tweeters.to_csv("PopularAccounts_New.csv", index=False)

# View the DataFrame
popular_tweeters.head()

,Screen Name,Real Name,Tweets,Followers,Following,Favorites Count
0,IAmDartanion,Dartanion Williams,31,211,375,134
1,katyperry,KATY PERRY,10117,108140968,221,6818
2,justinbieber,Justin Bieber,30453,107104120,297936,3394
3,BarackObama,Barack Obama,15691,109677610,611368,11
4,Taylorswift13,Taylor Swift,330,84917716,0,633

In [14]:
# Calculate Averages
average_tweet_count = popular_tweeters["Tweets"].mean()
average_followers = popular_tweeters["Followers"].mean()
average_following_count = popular_tweeters["Following"].mean()
average_favorites_count = popular_tweeters["Favorites Count"].mean()

# Create DataFrame
averages = {"Average Tweet Count": average_tweet_count, 
            "Average Follower Count": average_followers, 
            "Average Following Count": average_following_count,
            "Average Favorites Count": average_favorites_count}

# Create a Dataframe of hte averages
pd.DataFrame(averages, index=[0])

,Average Tweet Count,Average Follower Count,Average Following Count,Average Favorites Count
0,36711.52,50381928.48,30912.64,2129.3